:root {
    --bg-color: #FFFFFF;
    --primary-color: #6AB1FF;
    --secondary-color: #F0F0F0;
    --accent-color: #FF8C00;
    --accent-color-2: #FFC107;
  }
  
  
  body {
    background: linear-gradient(to bottom right, var(--primary-color), var(--accent-color));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
  }
  
  p {
    color: var(--accent-color);
  }
  
  .weather-header {
    background: linear-gradient(to top right, var(--primary-color), var(--accent-color));
    padding: 20px;
    text-align: center;
  }
  
  .weather-box {
    background-color: var(--primary-color);
    padding: 20px;
    border: 1px solid var(--secondary-color);
  }
  
  .weather-header h1 {
    color: var(--secondary-color);
  }
  
  .form-input {
    background-color: var(--bg-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
  }
  
  .btn {
    background-color: var(--secondary-color);
    color: var(--bg-color);
  }
  
  #search-history {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
  }
  #search-button{
    background-color: var(--accent-color);
  }
  #search-button:hover{
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  #clear-history-button:hover{
    background-color: var(--secondary-color);
    color: var(--bg-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #search-button:hover {
    background-color: var(--accent-color);
  }
  
  #clear-history-button:hover {
    background-color: var(--accent-color);
  }
  
  #current-weather {
    background-color: var(--accent-color);
    border: 1px solid var(--bg-color);
  }
  
  #forecast {
    border: 1px solid var(--secondary-color);
  }
  

  /* api style */

  #current-date {
    color: var(--bg-color);
    font-size: 20px;
    margin-bottom: 10px;
  }
  #current-weather h2 {
    color: var(--bg-color);
    font-size: 24px;
    margin-bottom: 10px;
  }
  #current-weather p {
    color: var(--bg-color);
  }
  
  #five-day {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  #five-day .col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    background-color: var(--bg-color);
    color: var(--secondary-color);
  }
  
  #five-day img {
    display: block;
    margin: 0 auto;
  }
  
  #five-day p {
    margin-bottom: 5px;
  }