@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Karla', sans-serif;
}

:root {
    --primary-color: #f1f7f5;
    --secondary-color: #ecbdcf;
    --accent-color: #c01653;
    --content-bg-color: #500011;
    --content-secondary-color: #464815;
  }
  body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
  }
  body {
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
  }
  header {
    padding: 20px;
    text-align: center;
  }
  h1 {
    margin: 0;
    color: var(--secondary-color);
  }
  main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  #container {
    flex-grow: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }
  #sidebar {
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  h2 {
    color: var(--content-bg-color);
    font-size: 24px;
  }
  
  /* Weather Section *** api needs to be added */
  #current-weather {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    align-self: flex-start;
  }
  #current-weather div {
    margin-bottom: 10px;
  }
  #weather-icon img {
    max-width: 100px;
    max-height: 100px;
  }
  
  /* Forecast Section *** api needs to be added */
  #forecast {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
  }
  #forecast-container {
    display: flex;
    justify-content: space-between;
  }
  .forecast-day {
    flex-basis: calc(20% - 10px);
    text-align: center;
  }
  .forecast-day img {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 10px;
  }
  

  /* Search bar */
  #search-container,
  #search-history {
    background-color: var(--content-bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  #search-form input[type="text"],
  #search-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  #history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #history-list li {
    margin-bottom: 5px;
  }

  
  #current-weather,
  #forecast,
  #search-container,
  #search-history {
    background-color: var(--primary-color);
  }
  
  h2,
  #weather-icon,
  .forecast-day {
    color: var(--content-bg-color);
  }
  button {
    background-color: var(--accent-color);
    color: #ffffff;
  }
  button:hover {
    background-color: var(--content-secondary-color);
  }